<h1>Code Challenge Assesssment</h1>
<h5>This is a basic html with no css, so you can just test the controller easily.</h5>

<h3>We have 3 APIs in this small controller: </h3>
<ol>
    <li>
        Add a new topic
        <ul>
            <li>
                <strong>Url:</strong> /api/add/topic
            </li>

        </ul>
    </li>
    <li>Get all articles of a topic
        <ul>
            <li>
                <strong>Url:</strong> /api/fetch/topicName
            </li>

        </ul>
    </li>
    <li>Status of the system
        <ul>
            <li>
                <strong>Url:</strong> /api/topics
            </li>
            <li>
                <strong>Example:</strong> http://127.0.0.1:4000/api/fetch?topic=topic2
            </li>

        </ul>
    </li>
</ol>